* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #f0f0f0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding: 32px 8px;
}
/* Section Form */
.section-form {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.section-form h1 {
  font-size: 36px;
  font-weight: 500;
  color: #1e1e1e;
  text-align: center;
  padding-bottom: 16px;
}
#form-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  background-color: #f5f0ea;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  border-radius: 8px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.container-input {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.container-input .input-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  width: 100%;
}
.container-input.input-title div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.container-input.input-title label {
  font-size: 16px;
  font-weight: 500;
  color: #1e1e1e;
}
.container-input .input-title input {
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #414141;
  border: 1px solid rgba(106, 135, 101, 0.5);
  border-radius: 8px;
  width: 100%;
}
.container-input .input-title input:focus {
  outline: none;
  border: 1px solid #6a8765;
}
#form-task button {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #f5f0ea;
  background-color: #6a8765;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
#form-task button:hover {
  background-color: #5a7655;
}

/* Section Resume Activies */
.section-resume-task {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #f5f0ea;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.section-resume-task h2 {
  font-size: 24px;
  font-weight: 500;
  color: #1e1e1e;
  text-align: center;
  padding-bottom: 16px;
}
.container-resume-task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.card-remuse-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.card-remuse-task.one {
  background-color: #fcfcfc;
}
.card-remuse-task.two {
  background-color: #f0ebcd;
}
.card-remuse-task.three {
  background-color: #4e664a;
}
.card-remuse-task h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  word-break: break-all;
}
.card-remuse-task.one h3 {
  color: #1e1e1e;
}
.card-remuse-task.two h3 {
  color: #1e1e1e;
}
.card-remuse-task.three h3 {
  color: #f5f0ea;
}
.card-remuse-task .container-title-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-remuse-task .container-description-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card-remuse-task ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  width: 100%;
  min-height: 320px;
  max-height: 320px;
  overflow-y: scroll;
}
.card-remuse-task ul::-webkit-scrollbar {
  display: none;
}
.card-remuse-task li {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 250px;

  gap: 8px;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  cursor: grabbing;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.card-remuse-task.one li {
  background-color: #fdfdfd;
}
.card-remuse-task.two li {
  background-color: #f0ecd6;
}
.card-remuse-task.three li {
  background-color: #6a8765;
}
.card-remuse-task {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-remuse-task h4 {
  font-size: 16px;
  font-weight: 500;
}

.card-remuse-task p {
  font-size: 12px;
  font-weight: 400;
  word-break: break-all;
}
.card-remuse-task span {
  font-size: 10px;
  font-weight: 400;
}
.card-remuse-task.one h4,
.card-remuse-task.one p,
.card-remuse-task.one span {
  color: #1e1e1e;
}

.task-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
}

.card-remuse-task button {
  border: none;
  font-size: 12px;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  max-width: 280px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btnNotStarted {
  background-color: #fcfcfc;
  color: #1e1e1e;
}
.btnStart {
  background-color: #f0ecd6;
  color: #1e1e1e;
}
.btnFinish {
  background-color: #6a8765;
  color: #fcfcfc;
}

.card-remuse-task.two h4,
.card-remuse-task.two p,
.card-remuse-task.two span {
  color: #1e1e1e;
}
.card-remuse-task.three h4,
.card-remuse-task.three p,
.card-remuse-task.three span {
  color: #f5f0ea;
}

@media (max-width: 980px) {
  .container-resume-task {
    flex-direction: column;
  }
  .card-remuse-task li {
    max-width: 480px;
  }
  .card-remuse-task ul {
    min-height: 240px;
    max-height: 240px;
  }
}

@media (max-width: 560px) {
  .section-form h1 {
    font-size: 28px;
  }
  .section-resume-task h2 {
    font-size: 20px;
  }
  .card-remuse-task h3 {
    font-size: 16;
  }
  .container-input {
    flex-direction: column;
  }

  #form-task {
    padding: 8px 16px;
  }
  .section-resume-task {
    padding: 8px 16px;
  }
}

@media (max-width: 380px) {
  .task-actions {
    flex-direction: column;
  }
}
